*.o
*.a
*.exe
*.pdb
*.obj
.vs
LPLab14/Debug
LPLab14/LPLab10/Debug
LPLab14/x64
LPLab14/LPLab10/x64
LPLab15/Debug
LPLab15/Release
LPLab15/LPLab15/Debug
LPLab15/LPLab15/Release
LPLab16/Debug
LPLab16/Release
LPLab16/LPLab10/Debug
LPLab15/LPLab10/Release
